include ./components/img-card
div(class="grid-tabs-swiper  bg-slate-900 px-8 pb-16 pt-10")
    div(class="grid-tabs-swiper__swiper swiper flex flex-col gap-4 items-start")
        div(class="grid-tabs-swiper__pagination swiper-pagination  static top-0 bottom-0 grid grid-cols-3 gap-4 items-center justify-center p-4 border rounded-[22px] ")
            //- button(class="grid-tabs-swiper__pagination-next border border-blue-800 px-4 py-2 text-blue-800 rounded-md") next
            //- button(class="grid-tabs-swiper__pagination-prev border border-blue-800 px-4 py-2 text-blue-800 rounded-md") prev
        //- div(class="parallax-bg",style="background-image:url('/assets/img/slide.jpg')", )
        div(class="grid-tabs-swiper__swiper-wrapper swiper-wrapper")
            div( class="text-white grid-tabs-swiper__swiper-slide swiper-slide grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-6 gap-4 p-6 border border-slate-600 rounded-lg")
                each val, index in Array(8)
                    div(data-swiper-parallax=((index+1.23 )* 123) data-aos-offset=(index*40) ,data-aos-speed=((index + 1 ) * 173) ,data-aos-delay=((index + 1) * 173))
                        +img-card("Lorem Header","عنوان النص","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, alias fuga error, incidunt laboriosam beatae veniam accusantium tenetur, asperna","لوريم ايبسوم دولور سيت اميت","/assets/img/slide.jpg")

            div( class="text-white grid-tabs-swiper__swiper-slide swiper-slide grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-6 gap-4 p-6 border border-slate-600 rounded-lg")
                each val, index in Array(8)
                    div(data-swiper-parallax=((index+1.23 )* 123) data-aos-offset=(index*40) ,data-aos-speed=((index + 1 ) * 173) ,data-aos-delay=((index + 1) * 173))
                        +img-card("Lorem Header","عنوان النص","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, alias fuga error, incidunt laboriosam beatae veniam accusantium tenetur, asperna","لوريم ايبسوم دولور سيت اميت","/assets/img/slide.jpg")
                        
            div(  class="text-white grid-tabs-swiper__swiper-slide swiper-slide grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-6 gap-4 p-6 border border-slate-600 rounded-lg")
                +img-card("Lorem Header","عنوان النص","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, alias fuga error, incidunt laboriosam beatae veniam accusantium tenetur, asperna","لوريم ايبسوم دولور سيت اميت","/assets/img/slide.jpg")
                +img-card("Lorem Header","عنوان النص","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, alias fuga error, incidunt laboriosam beatae veniam accusantium tenetur, asperna","لوريم ايبسوم دولور سيت اميت","/assets/img/slide.jpg")
                +img-card("Lorem Header","عنوان النص","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, alias fuga error, incidunt laboriosam beatae veniam accusantium tenetur, asperna","لوريم ايبسوم دولور سيت اميت","/assets/img/slide.jpg")
                +img-card("Lorem Header","عنوان النص","Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, alias fuga error, incidunt laboriosam beatae veniam accusantium tenetur, asperna","لوريم ايبسوم دولور سيت اميت","/assets/img/slide.jpg")