div(class="tabs-swiper  bg-slate-900 px-8 pb-16 pt-10")
    div(class="tabs-swiper__swiper swiper flex flex-col gap-4 items-start")
        div(class="tabs-swiper__pagination swiper-pagination  static top-0 bottom-0 grid grid-cols-3 gap-4 items-center justify-center p-4 border rounded-[22px] ")
            //- button(class="tabs-swiper__pagination-next border border-blue-800 px-4 py-2 text-blue-800 rounded-md") next
            //- button(class="tabs-swiper__pagination-prev border border-blue-800 px-4 py-2 text-blue-800 rounded-md") prev
        div(class="parallax-bg",style="background-image:url('/assets/img/slide.jpg')")
        div(class="tabs-swiper__swiper-wrapper swiper-wrapper")
            div(class="text-white tabs-swiper__swiper-slide swiper-slide p-6 border border-slate-600 rounded-lg",data-swiper-parallax="-100")
                h5 Lorem Header
                p.text-white Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, alias fuga error, incidunt laboriosam beatae veniam accusantium tenetur, aspernatur nesciunt perspiciatis commodi porro iure quam? Non ut fugiat accusamus, asperiores explicabo voluptatibus odit blanditiis repellat autem nesciunt dolor quis aliquam necessitatibus. Earum labore minus eius est. A eum explicabo accusamus.
            div(class="text-white tabs-swiper__swiper-slide swiper-slide p-6 border border-slate-600 rounded-lg",data-swiper-parallax="-200")
                h6 Header Text
                .flex.gap-4
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
            div(class="text-white tabs-swiper__swiper-slide swiper-slide p-6 border border-slate-600 rounded-lg",data-swiper-parallax="-200")
                h6 Header Text
                class="h-[220px]"
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.
                    p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quo repellendus quaerat.