.tabs-swiper
    .tabs-swiper__swiper.swiper
        div(class="parallax-bg",style="background-image:url('/assets/img/slide.jpg')")
        .tabs-swiper__swiper-wrapper.swiper-wrapper
            .tabs-swiper__swiper-slide.swiper-slide
                p
                    | ipisicing elit.adipisicing elit..adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit..adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.
            .tabs-swiper__swiper-slide.swiper-slide
                p
                    | t amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.
            .tabs-swiper__swiper-slide.swiper-slide
                p
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit..adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit..adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.adipisicing elit.adipisicing elit.
        .tabs-swiper__swiper-pagination
            button.tabs-swiper__pagination-next next
            button.tabs-swiper__pagination-prev prev