.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  //   height: 40px;
  padding: 1rem 3rem;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 999px;

  width: 75%;
  box-shadow: 0 1px 10px 1px rgba(145, 144, 144, 0.25);
  top: 1rem;
  background-color: white;

  &__nav-lang-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__lang-changer {
    @include rtl() {
      margin-right: 4rem;
    }
    @include ltr() {
      margin-left: 4rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: $primary;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }

  &__nav-item {
  }

  &__nav-link {
    text-decoration: none;
    color: $primary;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    font-weight: 500;

    &--active {
      text-decoration: none;
      color: $tertiary-color;
      border-bottom: 2px solid currentColor;
      // border-style: dotted;
      // transform: scale(1.2);
    }
  }
}

@keyframes showShadow {
  0% {
    box-shadow: 0 0px 0px 0px rgba(145, 144, 144, 0);
    top: 0;
    background-color: transparent;
  }
  100% {
    box-shadow: 0 1px 10px 1px rgba(145, 144, 144, 0.25);
    top: 1rem;
    background-color: white;
    // border: 1px solid $primary;
  }
}
