header.header
    a.header__logo(href= lang==="ar"?'/ar':'/') Tempraco
    div.header__nav-lang-wrapper
        nav.header__nav
            ul.header__nav-list
                li.header__nav-item 
                    a.header__nav-link(href="#about") Docs
                li.header__nav-item 
                    a.header__nav-link(href="#services") AI Blocks
                li.header__nav-item 
                    a.header__nav-link(href="#contact") Demos
                li.header__nav-item 
                    a.header__nav-link(href="#contact") Help
                li.header__nav-item 
                    a.header__nav-link(href="#contact") Pricing
        a.header__lang-changer(href= lang==="ar"?'/':'/ar') #{lang==="ar"?"English":"العربية"}