section.hero
    .hero__content
        h1.hero__title 
            | Umbraco Dashboard Maker
        p.hero__subtitle Effortlessly craft your Umbraco Backoffice templates with AI-powered blocks!
        button.button(href="#") Get Started
