mixin header(activeLink)
    header.header
        a.header__logo(href= lang==="ar"?'/ar':'/') Tempraco
        div.header__nav-lang-wrapper
            nav.header__nav
                ul.header__nav-list
                    li.header__nav-item 
                        a(class="header__nav-link" + (activeLink === "/" ? " header__nav-link--active" : ""), href=lang=="ar"?'/ar':'/') Home
                    li.header__nav-item 
                        a(class="header__nav-link" + (activeLink === "/swiper.html" ? " header__nav-link--active" : ""), href="swiper.html") Swiper
                    li.header__nav-item 
                        a(class="header__nav-link" + (activeLink === "/Demos" ? " header__nav-link--active" : ""), href="#services") AI Blocks
                    li.header__nav-item 
                        a(class="header__nav-link" + (activeLink === "/Demos" ? " header__nav-link--active" : ""), href="#contact") Demos
                    li.header__nav-item 
                        a(class="header__nav-link" + (activeLink === "/Demos" ? " header__nav-link--active" : ""), href="#contact") Pricing
            a.header__lang-changer(href= lang=="ar"? (activeLink === "/" ? "/" : activeLink) : `/ar${activeLink === "/" ? "" : activeLink}`)
                img(width="20" src=`https://flagicons.lipis.dev/flags/4x3/${lang == "ar" ? "eg" : "us"}.svg` alt=`${lang === "ar" ? "Arabic" : "English"} language`)