extends ../layouts/base

block scripts
  script(src=baseUrl+"assets/js/swiper-bundle.min.js")
  script(src=baseUrl+"assets/js/index.js") 
  //- script.
  //-   initHeroSwiper()
  //-   initClientsSwiper()
  //-   initTabsSwiper()
  //-   initGridTabs()

block content
  +header('/swiper.html')
  
  main(class="swiper-page")
    include ../components/swiper/hero
    include ../components/swiper/clients
    include ../components/swiper/tabs/text-tabs
    hr(class="border-t border-t-red-400")
    include ../components/swiper/tabs/grid-tabs
    


