extends ../layouts/base

block scripts
  script(src="assets/js/swiper-bundle.min.js")
  script(src="assets/js/index.js") 
  script.
    initHeroSwiper()
    initClientsSwiper()
    initTabsSwiper()

block content
  +header('/swiper.html')
  
  main(class="swiper-page")
    include ../components/swiper/hero
    include ../components/swiper/clients
    include ../components/swiper/tabs/tabs
    


