section.hero-swiper
    h1.hero-swiper__title 
        +_("Hero Swiper Video","مقطع البطل المنزلق")
    div(class="hero-swiper__swiper swiper")
        div(class="swiper-wrapper")
            div(class="swiper-slide")
                video(class="hero-swiper__swiper-slide-video",src=baseUrl+"assets/video/swiper-hero.mp4", autoplay, loop, muted, playsInline)
            div(class="swiper-slide")
                video(class="hero-swiper__swiper-slide-video",src=baseUrl+"assets/video/swiper-hero-two.mp4", autoplay, loop, muted, playsInline)