section.heroSwiper
    div(class="heroSwiper__swiper swiper")
        div(class="swiper-wrapper")
            div(class="swiper-slide")
                video(class="heroSwiper__swiper-slide-video",src="/assets/video/swiper-hero.mp4", autoplay, loop, muted, playsInline)
            div(class="swiper-slide")
                video(class="heroSwiper__swiper-slide-video",src="/assets/video/swiper-hero-two.mp4", autoplay, loop, muted, playsInline)