.heroSwiper {
  height: 100vh;
  &__swiper.swiper {
    height: 100vh;
    .swiper-wrapper {
      min-height: 100%;
    }
    .swiper-slide {
      width: 100%;
      max-width: 100%;
      height: 100%;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: 0.7);
        backdrop-filter: blur(3px);
        // -webkit-backdrop-filter: blur(5px);
      }
    }
  }

  &__swiper-slide-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  //   z-index: 5;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;

  //     z-index: 2;
  //   }

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;

  //     background-size: 120%;
  //     background-position: center center;
  //     z-index: 3;
  //   }

  //   &__content {
  //     z-index: 5;
  //     position: relative;
  //     color: $secondary;
  //     display: flex;
  //     flex-direction: column;
  //     gap: 2rem;
  //     align-items: center;
  //   }

  //   &__title {
  //     // color: $secondary;
  //     font-size: 60px;
  //   }
  //   &__subtitle {
  //     max-width: 70%;
  //     margin: 0 auto;
  //     font-size: 22px;
  //   }
}
