include ../mixins/index
doctype html
html(lang=lang,dir=langDir)

  head
    title My Pug Template
    meta(charset='utf-8')
    meta(name='description', content='My Pug Template Description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href= 'assets/css/swiper-bundle.min.css')
    link(rel='stylesheet', href='assets/css/index.css')
   
    
    
  body
    block content
    block scripts
      